<div class="entity-table">
    <div class="header" *ngIf="this.user.roleName!='DOC'">
        <button pButton type="button" label="Agregar" icon="pi pi-plus" (click)="openNew()"></button>
    </div>

    <p-table [value]="items" [paginator]="true" [rows]="10" [globalFilterFields]="['name', 'parallel']">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="description">Nombre</th>
                <th pSortableColumn="parallel">Paralelo</th>
                <th pSortableColumn="cycle">Ciclo</th>
                <th pSortableColumn="price" *ngIf="this.user.roleName!='DOC'">Precio</th>
                <th pSortableColumn="hours">Horas</th>
                <th pSortableColumn="studentsRegistered">Estudiantes</th>
                <th>{{this.user.roleName!='DOC' ? 'Acciones' : 'Detalles'}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-curso>
            <tr>
                <td>{{curso.id}}</td>
                <td>{{curso.description}}</td>
                <td>{{curso.parallel}}</td>
                <td>{{curso.cycle}}</td>
                <td *ngIf="this.user.roleName!='DOC'">{{curso.price | currency}}</td>
                <td>{{curso.hours}}</td>
                <td>{{curso.studentsRegistered}}</td>
                <td>
                    <button 
                        *ngIf="this.user.roleName!='DOC'"
                        pButton 
                        type="button" 
                        icon="pi pi-pencil" 
                        class="p-button-rounded p-button-info"
                        (click)="editItem(curso)"
                        [style]="{'margin-right': '10px'}"
                    ></button>
                    <button 
                        *ngIf="this.user.roleName!='DOC'"
                        pButton 
                        type="button" 
                        icon="pi pi-trash" 
                        class="p-button-rounded p-button-danger" 
                        (click)="deleteItem(curso.id)"
                    ></button>
                    <button 
                        *ngIf="this.user.roleName=='DOC'"
                        pButton 
                        type="button" 
                        icon="pi pi-eye"
                        class="p-button-rounded p-button-info"
                        (click)="openDetails(curso)"
                        [style]="{'margin-right': '10px'}"
                ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <!-- Dialogo para Nuevo Curso -->
    <app-base-crud-dialog
        [visible]="newDialog"
        [header]="'Nuevo Curso'"
        [onShowCallback]="loadCycles.bind(this)"
        (confirm)="saveNew()"
        (cancel)="hideNewDialog()"
        [disableConfirm]="!formNew.valid"
    >
        <form [formGroup]="formNew">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="name">Nombre</label>
                    <input id="name" type="text" pInputText formControlName="description" required/>
                </div>
                <div class="p-field">
                    <label for="parallel">Paralelo</label>
                    <input id="parallel" type="text" pInputText formControlName="parallel" required/>
                </div>
                <div class="p-field">
                    <label for="cycleId">Ciclo</label>
                    <p-dropdown id="cycleId" [options]="ciclos" formControlName="cycleId"
                      optionLabel="description" optionValue="id" placeholder="Seleccione un ciclo" appendTo="body"></p-dropdown>
                </div>
                <div class="p-field">
                    <label for="price">Precio</label>
                    <input id="price" type="number" pInputText formControlName="price" required/>
                </div>
                <div class="p-field">
                    <label for="hours">Horas</label>
                    <input id="hours" type="number" pInputText formControlName="hours" required/>
                </div>
            </div>
        </form>
    </app-base-crud-dialog>

    <!-- Dialogo para Editar Curso -->
    <app-base-crud-dialog
        [visible]="editDialog"
        [header]="'Editar Curso'"
        [onShowCallback]="loadCycles.bind(this)"
        (confirm)="saveEdit()"
        (cancel)="hideEditDialog()"
        confirmLabel="Actualizar"
    >
        <form [formGroup]="formEdit">
            <div class="p-fluid">
                <div class="p-field">
                    <label for="description">Descripción</label>
                    <input id="description" type="text" pInputText formControlName="description" required/>
                </div>
                <div class="p-field">
                    <label for="price">Precio</label>
                    <input id="price" type="number" pInputText formControlName="price" required/>
                </div>
                <div class="p-field">
                    <label for="hours">Horas</label>
                    <input id="hours" type="number" pInputText formControlName="hours" required/>
                </div>
            </div>
        </form>
    </app-base-crud-dialog>

    <!--Dialogo para Detalles-->
    <app-base-crud-dialog
        [visible]="showDetails"
        [width]="'800px'"
        [header]="'Estudiantes: ' + this.cursoName"
        [showCancellButton]="false"
        [onShowCallback]="loadStudents.bind(this)"
        (confirm)="closeDetails()"
        confirmLabel="Cerrar"
    >
        <p-table [value]="estudiantes">
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Nombre Completo</th>
                    <th>Cédula</th>
                    <th>Correo</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-e>
                <tr>
                    <td>{{e.id}}</td>
                    <td>{{e.name + ' ' + e.lastName}}</td>
                    <td>{{e.numberIdentification}}</td>
                    <td>{{e.email}}</td>
                </tr>
            </ng-template>
        </p-table>
    </app-base-crud-dialog>
</div>
